html{
  background-color: rgb(17, 149, 236);
}

.gameContainer{
  display: grid;
  grid-template-rows: 5% 95%;
  grid-template-columns: 10% 10% 60% 10% 5% 5%;
}

img{
  object-fit: contain;
  height: 40px;
}

#tools{
  grid-row: 1;
  grid-column: 1;
}

#visited{
  grid-row: 1;
  grid-column: 2;
}

#support-agent{
  grid-row: 1;
  grid-column: 3;
}

#support-agent-textarea{
  height: 40px;
  width:80%;
  color:rgb(29, 250, 0);
  background-color: rgb(25, 25, 37);
}

#chrono-container{
  padding: 0px;
  grid-row: 1;
  grid-column: 4;

}


#user-info{
  padding: 0px;
  grid-row: 1;
  grid-column: 5;
}

#user-icon{
  padding: 0px;
  grid-row: 1;
  grid-column: 6;
}
#map{
  grid-row: 2;
  grid-column: 1 /span 5;
  height: 600px;
  margin-top: 10px;
  border-radius: 4px;
}