html{
  background-color: rgb(83, 83, 109);
  font-family: sans-serif;
  background-image: url('img/fond.jpg');
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  backdrop-filter: blur(10px);
}

.img{
  position:absolute;
  top:5%;
  left:35%;
  width: 40%;
  height: 40%;
}



/*----------RegisterBtnContainer class------------*/
/*Postition*/
.RegisterBtnContainer{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}
/*button inside RegisterBtnContainer class*/
.RegisterBtnContainer .register_btn button{
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  background: -webkit-linear-gradient(left, rgb(102, 26, 16), red);
  cursor: pointer;
}

/*----------Logincontainer class------------*/
/*position*/
.Logincontainer{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}
/*caracteristics of the Logincontainer class*/
.Logincontainer{
  background:#fff;
  width:25%;
  padding: 30px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
  background-color: rgb(103, 103, 134);
  z-index: 1000;
}
.Logincontainer .logintext{
  font-size: 28px;
  text-align: center;
}
.Logincontainer #user-text{
  font-size: 20px;
  text-align: center;
}
.Logincontainer input{
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  border: 1px solid black;
}
.Logincontainer .btn{
  margin-left: 50px;
  margin-right: 45px;
}
.Logincontainer .btn button{
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  background: -webkit-linear-gradient(left, rgb(102, 26, 16), red);
  cursor: pointer;
}

/*----------Hall of faame------------*/
.HOFBtnHandler button{
  position:absolute;
  top:70%;
  left: 50%;
  transform:translate(-50%, -50%);
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  z-index: 1;
}

.sidebar {
  position:absolute;
  top:70%;
  left: 0;
  height: 30%;
  width: 0%;
  overflow: hidden;
  background-color: #111;
  transition: 0.5s;
  text-align: center;
}
.sidebar li:hover {
  color: #f1f1f1;
}

.sidebar  .p1{
  position:absolute;
  top:10%;
  left: 10%;
  transform:translate(-50%, -50%);
  height:50px;
}
.sidebar  .p3{
  position:absolute;
  top:10%;
  left: 80%;
  transform:translate(-50%, -50%);
  height:50px;
}

.sidebar  .p4{
  position:absolute;
  top:10%;
  left: 50%;
  transform:translate(-50%, -50%);
  height:50px;
  z-index:0;
}
.sidebar  .p2{
  position:absolute;
  top:10%;
  left: 50%;
  transform:translate(-50%, -50%);
  color: #f1f1f1;
  word-spacing: 20px;
}

.sidebar li{
  color: rgb(4, 247, 4);
  word-spacing: 30px;
}

#openbtn:hover, #closebtn:hover {
  background-color: #444;
}


ul {
  float: center;
  margin-top: 30px;
  z-index: 4;
}
ul li {
  opacity: 1;
  height: 20px;
  padding: 0px;
  list-style: none;
  z-index: 4;

}

#map{
  height: 600px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 100px;
  border-radius: 20px;
}

@keyframes scrollUp {
  from {
            transform:translateY(150%)
  }
  to {
    transform:translateY(0%)
  }
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}





@media (orientation: portrait) and (max-width: 250px) and (max-height: 250px) {
  .container .btn{
    margin-left: 5px;
    margin-right: 3px;
  
  }
  .container .btn button{
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
}
